section{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

h2 {
    color: #fff;
    font-size: 24px;
    border: 1px solid #130f40;
    display: inline-block;
    border-radius: 50px;
    padding: 5px 10px;
    position: absolute;
    left: 25%;
    top: -1150px;
    z-index: 2;
    transition: .5s;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #130f4070;
    z-index: 1;
    transition: .5s;
    opacity: 0;
}

.error{background: #eb4d4b; top: 150px;}
.success{background: #6ab04c; top: 150px;}

select{
    width: 350px;
    margin: 0 auto;
    padding: 15px 10px;
    border-radius: 15px;
    background-color: #7ed6df;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

select option{
    background: #686de0;
    padding: 15px 10px;
}